<html ng-app="QuizProgram">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.17/angular.min.js"></script>
        <script lang="javascript">
            
            var mymodule = angular.module("QuizProgram",[]);
            
            mymodule.controller('StudentController', ['$scope', function($scope) {
                    
                var sc = this;
                
                sc.name;
                
                sc.arrayText = [
                    'test1',
                    'test2'
                ];

                
                sc.addText = function(name) {
                    sc.arrayText.push(name);
                }
                
            }
        
            );
            
            mymodule.controller('QuestionController',
                
                function ($scope) {
                    
                var qc = this;
          
                    
                }
            );
  
        </script>
    </head>
    
    <body>
        <div ng-controller="StudentController as sc">
            
            <form ng-submit="sc.addText(name)">
                <input type="text" placeholder="Student Name" ng-model="sc.name">
                <button type="submit">Add</button>
            </form>
            <ul>
                <li ng-repeat="text in arrayText">{{ name }}</li>
            </ul>
            
        
        </div>           
    </body>
</html>